html{
  height: 100%;
  scroll-behavior: smooth;
}

body{
  /* LAYOUT */
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

}

#app{

  flex: 1;

  /* LAYOUT */
  display: flex;
  flex-direction: column;
  padding: 20px 20px 100px 20px;
}

#header{
}

#mj-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#left, #right{
  flex: 1 0 300px;
}

#router{
  flex: 1 1 800px;
  /*flex: 1;
  overflow-y: scroll;*/
}

#footer{
}

hr{
  height: 2px;
  background: Pink;
  border: 0;
  margin: 40px 0 40px 0;
}

p{
  margin-top: 0.5em;
}

ul{
  margin-top: 0.5em;
}

.cols{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cols * {
  flex: 0 1 49%;
}

.cols *:not(:last-child){
  margin-right: 5px;
}

.section {
  background: white;
  padding: 10px;
  box-shadow: 5px 5px 0 pink;
  word-break: normal;
}
